.pagination {
  position: relative;
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include breakpoint(mobile){
    padding: 0 20px;
  }

  &__btn {
    height: 20px;
    width: 20px;
    border-bottom: 4px solid rgba(30, 6, 6, 0.12);
    border-left: 4px solid rgba(30, 6, 6, 0.12);
    transition: border-color $transition;

    &_left {
      transform: rotate(45deg);
    }

    &_right {
      transform: rotate(225deg);
    }

    &:hover {
      border-color: #C29974;
    }
  
    &:active {
      border-color: #C29974;
      opacity: .5;
    }

  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 234px;
    @include breakpoint(mobile){
      max-width: 188px;
    }
  }

  &__link {
    @include typography($title-font, 16px, 20px, $color_black);
   
    transition: opacity $transition;
    @include breakpoint(mobile){
      font-size: 14px;
      line-height: 17px;
    }

    &:hover {
      color: #1E0606;
      opacity: 0.5;
    }
  }
  
}