<fieldset class="rating">
  <div class="rating__group">
    <input class="rating__star" type="radio" name="health" value="1" aria-label="Bad" checked>
    <input class="rating__star" type="radio" name="health" value="2" aria-label="Ok">
    <input class="rating__star" type="radio" name="health" value="3" aria-label="Good">
    <input class="rating__star" type="radio" name="health" value="4" aria-label="Very Good">
    <input class="rating__star" type="radio" name="health" value="5" aria-label="Awesome">
  </div>
</fieldset>