.button {
  display: inline-flex;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  color: #FFFFFF;
  background-color: #1E0606;
  padding: 9px 22px;
  cursor: pointer;
  transition: background-color ease-in-out .6s;

  &:hover {
    background-color: #C29974;
  }

  &:active {
    background-color: #CFAF91;
  }

  &:disabled {
    color: #E1E1E1;
    background-color: #C1C1C1;
  }
}

.grid-button {
  display: inline-flex;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 27px;
  color: #2C3036;
  background-color: #FFC80C;
  padding: 19px 41px;
  cursor: pointer;
  transition: background-color ease-in-out .6s;

  &:hover {
    background-color: #C29974;
  }

  &:active {
    background-color: #CFAF91;
  }
  
}
