@import '../../components/variables';

.hero-slider {
  padding-bottom: 10px;

  &__wrapper {
    position: relative;
    max-width: 100%;
    width: 100%;
    min-height: 460px;
  }

  &__nav {
    position: absolute;
    top: 106px;
    left: 28px;
  }

  &__item {
    display: flex;
    min-height: 100%;
  }

  &__item::before {
    content: "";
    position: absolute;
    height: 82%;
    width: 100%;
    top: 18%;
    background-color: #EEE4DB;
    z-index: -10;
  }

  &__content {
    margin-top: 178px;
    width: 100%;
    max-width: 310px;
    margin-left: 133px;
    margin-bottom: 20px;
  }

  &__item-thumb {
    align-self: flex-end;
    max-width: 100%;
    display: flex;
    align-items: flex-end;
    padding-right: 100px;
  }

  &__poster {
    max-width: 100%;
    height: 461px;
  }
  
  &__number {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 60px;
    line-height: 73px;
  
    width: 80px;
    margin: 0px 0px 10px;
    padding: 0;
    
    color: rgba(30, 6, 6, 0.05);
  }

  &__title {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    margin: 0px 0px 20px 0px;
  
    color: #1E0606;
  }

  &__subtitle {
    font-family:'Crimson Text';
    font-style: italic;
    font-size: 20px;
    line-height: 25px;
    margin: 0px 0px 29px 0px;
  
    color: #1E0606;
  }

  &__footer {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
  
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
  
    color: #FFFFFF;
    background-color: #C29974;
  }

  .nav-btn__item {
    display: flex;
    padding: 0;
    margin-bottom: 11px;
  }
  
  .slider-button {
    width: 31px;
    height: 3px;
    border: none;
    background-color: #D6CAC2;
    cursor: pointer;
    transition: background-color $transition;
  
    &:hover {
      width: 31px;
      height: 3px;
      border: none;
      background-color: #725F5B;
    }
    
    &_selected {
      background-color: rgba(30, 6, 6, 0.6);
    }
  }

}



/* Category Products */
.category {
  padding-top: 40px;
  padding-bottom: 50px;

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 0;
  }
}

.category-description {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;

  &__button {
    display: flex;
    width: 80px;
    justify-content: space-between;
    margin-right: 20px;  
  }

  .arrow {
    position: relative;
    width: 37px;
    height: 37px;
    background-color: rgba(112, 187, 220, 0.2);
    border: none;
    transition: opacity $transition;
    cursor: pointer;
  
    &:hover {
      opacity: .6;
    }
  
    &_left {
      display: inline-block;
      position: absolute;
      top: 25%;
      left: 35%;
      transform: translate (-50%, -500%);
      width: 18px;
      height: 18px;
      border-bottom: 4px solid #1E0606;
      border-left: 4px solid #1E0606;
      transform: rotate(45deg);
    }
    
    &_right {
      display: inline-block;
      position: absolute;
      top: 25%;
      right: 35%;
      transform: translate (-50%, -500%);
      width: 18px;
      height: 18px;
      border-bottom: 4px solid #1E0606;
      border-right: 4px solid #1E0606;
      transform: rotate(-45deg);
    }
  }

  &__text {
    width: 560px;
  }
  
}

/* services */

.services {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 50px;

  &__image {
    object-fit: cover;
  }

  &__wrapper {
    padding: 0px 110px 60px 120px;
  }

  &__title {
    margin-bottom: 17px;
  }

  &__button {
    position: relative;
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    border: none;
    margin-bottom: 22px;
    cursor: pointer;
  
    background-color: #FFFFFF;
    transition: opacity $transition;

    &:hover {
      opacity: .6;
    }

    &_active::before {
      content: "";
      position: absolute;
      width: 326px;
      height: 55px;
      background: rgba(112, 187, 220, 0.2);
      left: -60px;
      bottom: -10px;
    }
  }

  &__btn-learn {
    margin-top: 26px;
  }
}

.partner-list {
  display: flex;
  justify-content: space-between;
  
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0;

  &__item {
    transition: opacity $transition;

    &:hover {
      opacity: .6;
    }
  }
}

/* articles */

.block-article {
  padding-top: 40px;
  padding-bottom: 87px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .about {
    width: 540px;
    display: block;
    padding: 0 30px 35px;
    background-color: #E1F0F7;

    &__title {
      margin-top: -25px;
      margin-bottom: 10px;
    }

    &__subtitle {
      font-family: 'Crimson Text';
      font-style: italic;
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 10px;
    
      color: #1E0606;
    }
  }

  .contacts {
    width: 540px;
    padding: 0 30px 102px;
    background-color: #E1F0F7;
    
    &__title {
      margin-top: -25px;
      margin-bottom: 20px;
    }

  }

  .map {
    position: absolute;
  }
}

/* modal */

.modal-window {
  position: fixed;
  top: 0;
  background-color: rgba(125, 151, 218, 0.8);
  height: 100vh;
  width: 100vw;
  display: flex;

  &_close {
    display: none;
  }

}

.form-close {
  position: absolute;
  top: -15px;
  right: -35px;
  font-size: 40px;
  color: #FFFFFF;
  
  border: none;
  background-color: transparent;
  transform: rotate(45deg);
  cursor: pointer;
  transition: opacity $transition;

  &:hover {
    opacity: .5;
  }

  &:active {
    opacity: .3;
  }

}