@import "../../components/variables";
@import "../../components/mixins";

.hero-slider {
  padding-bottom: 10px;

  &__wrapper {
    position: relative;
    max-width: 100%;

    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(#fff 0% 20%, #EEE4DB 20% 100%);
    @include breakpoint(tablet){
      background-image: none;
      background-color: #EEE4DB;
    }
    @include breakpoint(mobile){
      flex-direction: column;
    }

    & > span {
      @include typography ($title-font, 60px, 73px, rgba(30, 6, 6, 0.05));
      font-weight: 300;
      width: 80px;
      margin: 106px 0px 10px 20px;
      padding: 0;
      flex: 0 1 100%;
      @include breakpoint(tablet){
        margin-top: 17px;
        margin-left: 0;
      }
      @include breakpoint(mobile){
        margin-top: 21px;
        align-self: flex-end;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    margin-right: 71px;
    margin-left: 20px;
    @include breakpoint(tablet) {
      margin-right: 33px;
      margin-left: 0;
    }
    @include breakpoint(mobile){
      align-self: flex-end;
      margin-right: 20px;
    }
    
  }

  &__btn {
    width: 31px;
    height: 3px;
    border: none;
    margin-bottom: 11px;
    background-color: #D6CAC2;
    cursor: pointer;
    transition: background-color $transition;
  
    &:hover {
      width: 31px;
      height: 3px;
      border: none;
      background-color: #725F5B;
    }
    
    &_selected {
      background-color: rgba(30, 6, 6, 0.6);
    }
  }

  &__content {
    width: 100%;
    max-width: 330px;
    padding: 0 10px;
    margin-bottom: 89px;
    @include breakpoint(tablet){
      margin-bottom: 102px;
    }
    @include breakpoint(mobile){
      align-self: flex-end;
      margin-right: 20px;
      margin-top: -60px;
      margin-bottom: 188px;
    }
  }

  &__title {
    @include typography ($title-font, 40px, 110%, $color_black);
    font-weight: bold;
    margin: 0px 0px 20px 0px;
    @include breakpoint(tablet){
      margin-bottom: 15px;
    }
    @include breakpoint(mobile){
      @include typography ($title-font, 36px, 110%, $color_black);
    }
  }

  &__subtitle {
    
    font-family:'Crimson Text';
    font-style: italic;
    font-size: 20px;
    line-height: 25px;
    margin: 0px 0px 29px 0px;
  
    color: #1E0606;
    @include breakpoint(tablet){
      margin-bottom: 15px;
    }
  }

  &__poster {
    position: absolute;
    bottom: 0;
    right: 100px;
    height: 461px;
    max-width: 635px;
    min-width: 292px;
    widows: 100%;
    width: 100%;
    background-image: url(/static/images/poster.png);
    background-repeat: no-repeat;
    background-size: cover;
    @include breakpoint(laptop){
      background-size: 499px 362px;
      background-position: right 8px bottom 0;
      right: 8px;
    }
    @include breakpoint(netbook){
      background-size: 455px 323px;
      background-position: right 8px bottom 0;
    }
    @include breakpoint(tablet){
      background-size: 385px 286px;
      background-position: right 8px bottom 0;
    }
    @include breakpoint(mobile){
      background-size: 292px 226px;
      background-position: right 0px bottom 0;
    }
  }

  &__footer {
    @include typography ($body-font, 12px, 16px, $color_white);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  
    padding: 20px;
    margin: 0;
  
    background-color: #C29974;
  }
}

/* Category Products */

.category {
  padding-top: 40px;
  padding-bottom: 50px;
  @include breakpoint(mobile){
    margin-left: 20px;
  }
  

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 -10px;
  }

  &__nav {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
  }

  &__buttons {
    display: flex;
    width: 80px;
    justify-content: space-between;
    margin-right: 20px;  
  }

  &__button {
    position: relative;
    width: 37px;
    height: 37px;
    background-color: rgba(112, 187, 220, 0.2);
    border: none;
    transition: opacity $transition;
    cursor: pointer;
    @include breakpoint(tablet){
      width: 36px;
      height: 36px;
    }
    @include breakpoint(mobile){
      width: 33px;
      height: 33px;
    }

    &_left {
      display: inline-block;
      position: absolute;
      top: 25%;
      left: 35%;
      transform: translate (-50%, -50%);
      width: 18px;
      height: 18px;
      border-bottom: 4px solid #1E0606;
      border-left: 4px solid #1E0606;
      transform: rotate(45deg);
    }

    &_right {
      display: inline-block;
      position: absolute;
      top: 25%;
      right: 35%;
      transform: translate (-50%, -50%);
      width: 18px;
      height: 18px;
      border-bottom: 4px solid #1E0606;
      border-right: 4px solid #1E0606;
      transform: rotate(-45deg);
    }
  
    &:hover {
      opacity: .6;
    }
  }

  &__text {
    width: 560px;
  }
}

/* services */

.services {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
  @include breakpoint(mobile){
    flex-direction: column;
    padding: 0 20px;
  }

  &__image {
    width: 480px;
    height: 559px;
    background-image: url(./static/images/Delivery.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include breakpoint(tablet){
      width: 258px;
    }
    @include breakpoint(tablet){
      width: 100%;
      height: 357px;
    }
  }

  &__wrapper {
    max-width: 560px;
    width: 100%;
    padding: 0 10px;
    @include breakpoint(tablet){
      max-width: 334px;
    }
  }
  
  &__title {
    margin-bottom: 17px;
  }

  &__button {
    position: relative;
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    border: none;
    margin-bottom: 22px;
    cursor: pointer;
  
    background-color: #FFFFFF;
    transition: opacity $transition;

    &:hover {
      opacity: .6;
    }

    &_active::before {
      content: "";
      position: absolute;
      width: 326px;
      height: 55px;
      background: rgba(112, 187, 220, 0.2);
      left: -60px;
      bottom: -10px;
      @include breakpoint(tablet){
        width: 267px;
        height: 45px;
        left: -20px;
        bottom: -5px;
      }
    }
  }

  &__btn-learn {
    margin-top: 26px;
  }
}

.partners {

  &__list {
    display: flex;
    justify-content: space-between;
    
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
    @include breakpoint(mobile){
      flex-wrap: wrap;
    }

    & li {
      width: auto;
    }
  }

  &__item {
    transition: opacity $transition;

    & > img {
      object-fit: cover; 
    }
    &:hover {
      opacity: .6;
    }
  }
}

/* articles */

.block-article {
  padding-top: 40px;
  margin-bottom: 60px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @include breakpoint(mobile){
    flex-direction: column;
    align-items: center;
  }
}

.about {
  width: 100%;
  max-width: 540px;
  display: block;
  padding: 0 30px 35px;
  background-image: linear-gradient(#fff 0, #fff 53px, #e1f0f7 53px,#e1f0f7 100%);
  @include breakpoint(tablet){
    max-width: 314px;
  }
  @include breakpoint(mobile){
    max-width: none;
    margin-bottom: 50px;
    background-image: linear-gradient(#fff 0, #fff 33px, #e1f0f7 33px,#e1f0f7 100%);

  }

  &__title {
    margin-bottom: 20px;
    @include breakpoint(tablet){
      margin-bottom: 14px;
    }
    @include breakpoint(mobile){
      margin-bottom: 10px;
    }
  }

  &__subtitle {
    font-family: 'Crimson Text';
    font-style: italic;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 10px;
  
    color: #1E0606;
  }
}

.contacts {
  width: 100%;
  max-width: 540px;
  padding: 0 30px 10px;
  background-image: linear-gradient(#fff 0, #fff 53px, #e1f0f7 53px,#e1f0f7 60%, #fff 60%, #fff 100%);
  @include breakpoint(tablet){
    max-width: 314px;
  }
  @include breakpoint(mobile){
    max-width: none;
    background-image: linear-gradient(#fff 0, #fff 33px, #e1f0f7 33px,#e1f0f7 60%, #fff 60%, #fff 100%);
  }
  
  &__title {
    @extend .about__title;
  }

  &__map {
    max-width: 483px;
    width: 100%;
    @include breakpoint(tablet){
      max-width: 284px;
    }
    @include breakpoint(mobile){
      max-width: 335px;
    }  
  }

  &__iframe {
    width: 100%;
    border: none;
  }
}

/* modal */

.modal-window {
  position: fixed;
  top: 0;
  background-color: rgba(125, 151, 218, 0.8);
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: 20px;

  &__content {
    position: relative;
    display: flex;
    margin: auto;
  }

  &_close {
    display: none;
  }

}

.form-close {
  position: absolute;
  top: -15px;
  right: -35px;
  font-size: 40px;
  color: #FFFFFF;
  
  border: none;
  background-color: transparent;
  transform: rotate(45deg);
  cursor: pointer;
  transition: opacity $transition;
  @include breakpoint(tablet){
    top: -40px;
    right: -5px;
  }

  &:hover {
    opacity: .5;
  }

  &:active {
    opacity: .3;
  }

}