.footer {

  &__social-links {
    flex-grow: 1;
    display: flex;
    margin-top: 0;
  }

  &__social-link {
    margin-right: 15px;
    transition: opacity $transition;
  
    &:hover {
      opacity: .5;
    }
  }
}