<ul class="footer__social-links">
  <li>
    <a href="#" class="footer__social-link">
      <img src="../../static/images/Facebook.svg" alt="Facebook" />
    </a>
  </li>
  <li>
    <a href="#" class="footer__social-link">
      <img src="../../static/images/Twitter.svg" alt="Twitter" />
    </a>
  </li>
  <li>
    <a href="#" class="footer__social-link">
      <img src="../../static/images/Pinterest.svg" alt="Pinterest" />
    </a>
  </li>
  <li>
    <a href="#" class="footer__social-link">
      <img src="../../static/images/Instagram.svg" alt="Instagram" />
    </a>
  </li>
</ul>