.blog-post {
  display: flex;
  flex-direction: column;
  width: 380px;
  padding: 20px 0;

  &:hover .blog-post__title {
    text-decoration: underline;
  }

  &__date {
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    margin: 20px 0 5px;
  
    color: #818181;
  }

  &__title {
    font-family: '0Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    margin: 5px 0 5px;
  }

  &__decription {
    font-size: 18px;
    line-height: 25px;
    margin-top: 10px;
  }

}