.category {

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  
    &:hover span{
      text-decoration: underline;
    }

    &:active span{
      text-decoration: underline;
    }

  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 37%;
    padding-bottom: 37%;

  }
  
  &__name {
    @include typography ($title-font, 26px, 32px, $color_white);

    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25); 
    max-width: 190px;
    @include breakpoint(mobile){
      font-size: 18px;
      line-height: 22px;
      max-width: 124px;
    }
  }

  &__bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: multiply;

    &_apparel {
      background-color: #DBE4DB;
      background-size: contain;
    }

    &_holiday {
      background-color: rgba(186, 142, 107, 0.3);
      background-size: contain;
    }

    &_toys {
      background-color: #F8F2DA;
      background-size: contain;
    }

    &_accessories {
      background-color: rgba(9, 3, 79, 0.17);
      background-size: contain;
    }

    &_sale {
      background-color: rgba(207, 68, 111, 0.25);
      background-size: contain;
    }

    &_adults {
      background-color: rgba(125, 151, 218, 0.2);
      background-size: contain;
    }

  }

}