@import 'variables';

.header {
  display: flex;
  padding-top: 50px;
  padding-bottom: 40px;
  align-items: center;

  &__logo {
    width: 100px;
    min-width: 100px;
    min-height: 50px;
    height: 50px;
    transition: opacity $transition;

    &:hover {
      opacity: .5;
    }

    &:active {
      opacity: .2;
    }
  }

  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__link-list {
    display: flex;
    margin-left: 60px;
    align-items: center;
  }

  &__link {
    @include typography ($body-font, 16px, 19px, $color_black);
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 20px;
  
    transition: opacity $transition;

    &:hover {
      opacity: .5;
    }

    &:active {
      opacity: .2;
    }
  }

  &__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__search {
    transition: opacity $transition;

    &:hover {
      opacity: .5;
    }

    &:active {
      opacity: .2;
    }
  }

  &__contact-link {
    text-shadow: 1px 0 0 #1E0606;
    margin-left: 24px;
    text-transform: uppercase;
    transition: opacity $transition;

    &:hover {
      opacity: .5;
    }

    &:active {
      opacity: .2;
    }
  }
}