<header class="header container">
  <a href="/index.html" class="header__logo">
    <img src="../../static/images/logo.svg" alt="logo" />
  </a>
  <nav class="header__nav">
    <ul class="header__links">
      <li><a href="/pages/blog/index.html" class="header__link">Blog</a></li>
      <li><a href="/pages/category_products/index.html" class="header__link">Catalog</a></li>
      <li><a href="/pages/toys_for_kids" class="header__link">Toys</a></li>
      <li><a href="/pages/animation/index.html" class="header__link">Animation</a></li>
      <li><a href="/pages/SVG/index.html" class="header__link">SVG</a></li>
      <li><a href="/pages/grid/index.html" class="header__link">Grid</a></li>
    </ul>
    <ul class="header__contacts">
      <li><a href="#" class="header__search"><img src="../../static/images/search.svg" alt="search"/></a></li>
      <li><a href="/pages/contact_us/index.html" class="header__contact-us">Contact us</a></li>
    </ul>
  </nav>
</header>
