<header class="header container">
  <a class="header-logo">
    <img src="./static/images/logo.svg" alt="logo" />
  </a>
  <nav class="header-nav">
    <ul class="header-nav__link-list">
      <li><a href="pages/blog/index.html" class="nav-link">Blog</a></li>
      <li><a href="pages/category-products/index.html" class="nav-link">Catalog</a></li>
      <li><a href="#" class="nav-link">About us</a></li>
    </ul>
    <ul class="header-nav__contacts">
      <li><a href="#" class="header-nav__search"><img src="./static/images/search.svg" alt="search"/></a></li>
      <li><a href="pages/contact-us/index.html" class="contact-link">Contact us</a></li>
    </ul>
  </nav>
</header>
