<header class="header container">
  <a href="/index.html" class="header__logo">
    <img src="../../static/images/logo.svg" alt="logo" />
  </a>
  <nav class="header__nav">
    <ul class="header__link-list">
      <li><a href="/pages/blog/index.html" class="header__link">Blog</a></li>
      <li><a href="/pages/category-products/index.html" class="header__link">Catalog</a></li>
      <li><a href="#" class="header__link">About us</a></li>
    </ul>
    <ul class="header__contacts">
      <li><a href="#" class="header__link header__search"><img src="../../static/images/search.svg" alt="search"/></a></li>
      <li><a href="/pages/contact_us/index.html" class="header__link header__contact-link">Contact us</a></li>
    </ul>
  </nav>
</header>
