@import "./variables";

body { 
  margin: 0;
  @include typography ($body-typo...);
}

a { 
  text-decoration: none;
  color: #1E0606;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

html { 
  box-sizing: border-box; 
}

*, 
*::before, 
*::after { 
  box-sizing: inherit; 
}

img { 
  max-width: 100%; 
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1220px;
  padding: 0 20px;
  margin: 0 auto;
}

.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

.block-title {
  @include typography($block-title...);
  text-transform: uppercase;
}

.section-title {
  @include typography($section-title...);
  text-transform: uppercase;
}

//breadcrumbs

.breadcrumbs {
  display:  block;
  padding-bottom: 14px;

  &__link {
    display: inline-block;
    position: relative;

    &:not(:last-of-type)::after {
      content: "";
      display: inline-block;
      background-image: url(../static/images/breadcrumb-arrow.svg);
      width: 8px;
      height: 12px;
      margin: 0 20px;
    }

    &_active {
      @include typography ($crumbs-typo...);
      font-style: italic;
      transition: opacity $transition;
      z-index: 1000;

      &:hover {
        opacity: .7;
      }

    }
 
    &_current {
      @include typography ($crumbs-typo...);
      font-style: italic;
      opacity: 0.5;
    }

  }
  
}

// Подключение компонентов
@import "./header/header";
@import "./footer/footer";
@import "./social/social";
@import "./button/button";
@import "./card/card";
@import "./pagination/pagination";
@import "./contact_form/contact-form";
@import "./checkbox/checkbox";
@import "./toy_card/toy-card";
@import "./blog_post/blog-post";
@import "./rating/rating";


@import "./mixins"