@import "./variables";

.footer {
  background: #434343;
  color: #FFFFFF;
  padding: 90px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__section {
    width: 380px;
    min-height: 280px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  
    &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 380px;
    background-color: #666666;
    top: 50px;
    left: 0;
    }

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 380px;
      background-color: #666666;
      bottom: 50px;
      left: 0;
    }
  }

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    
    color: #AAAAAA;
    
    margin-bottom: 50px;
    position: relative;
  }

  &__link {
    display: inline-block;
    margin-bottom: 15px;
    transition: opacity $transition;
    color: #FFFFFF;

    &:hover {
      opacity: .5;
    }
  }

  &__form {
    display: inline-block;
    max-width: 380px;
    margin-bottom: 25px;
  }

  &__input {
    display: inline-block;
    outline: none;
    background-color: #666666;;
    border: none;
    height: 40px;
    width: 298px;
    padding: 9px 15px;
    transition: box-shadow $transition;

    &:hover {
      box-shadow: 0 0 0 1px #FFFDFD;
    }

    &::placeholder {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 22px;
    
      color: #EBEBEB;
    }
  }
}

.rating {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
}

.company-rating {
  margin-right: 25px;
}

.star {
  margin-right: 3px;
}

.copyright {
  margin-top: 50px;
}

.design-company {
  color: #A2A2A2;
}

.design-company:hover {
  text-decoration: underline;
  color: #FFFFFF;
}