@import "variables";

.footer {
  background: #434343;
  color: #FFFFFF;
  padding: 90px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__section {
    width: 380px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    @include typography ($body-font, 16px, 22px, #AAAAAA);
    font-weight: normal;
    margin-bottom: 28px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 380px;
      background-color: #666666;
      top: 45px;
      left: 0;
    }
  }

  &__link {
    display: inline-block;
    margin-bottom: 15px;
    transition: opacity $transition;
    color: #FFFFFF;

    &:hover {
      opacity: .5;
    }
  }

  &__form {
    display: inline-block;
    max-width: 380px;
    margin: 20px 0 25px;
  }

  &__input {
    display: inline-block;
    outline: none;
    background-color: #666666;;
    border: none;
    height: 40px;
    width: 298px;
    padding: 9px 15px;
    transition: box-shadow $transition;
    color: #fff;

    &:hover {
      box-shadow: 0 0 0 1px #FFFDFD;
    }

    &::placeholder {
      @include typography ($body-font, 16px, 22px, #EBEBEB);
    }
  }

  &__company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    position: relative;
    margin-top: 10px;

    &:before {
      content: '';
      position: absolute;
      height: 1px;
      width: 1180px;
      background-color: #666666;
      top: -23px;
      left: 0;
    }

    & a {
      color: #A2A2A2;
      transition: all $transition;

      &:hover {
        text-decoration: underline;
        color: $color_white;
      }
    }  
  }

  &__rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 245px;

    & span {
      margin-right: 25px;
    }

    &:hover span {
      color: #836E5B;
    }
  }
}