<footer class="footer">
  <div class="footer__wrapper container">
    <div class="footer__section">
      <h2 class="footer__title">Navigation</h2>
      <ul class="footer__links">
        <li><a href="#" class="footer__link">About Us</a></li>
        <li><a href="#" class="footer__link">Blog</a></li>
        <li><a href="#" class="footer__link">Design Services</a></li>
        <li><a href="#" class="footer__link">Featured On</a></li>
        <li><a href="#" class="footer__link">2018 Holiday Catalog</a></li>
        <li><a href="#" class="footer__link">Shop By Designer</a></li>
      </ul>
      <div class="rating">
        <p class="company-rating">Company Rating</p>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
      </div>       
    </div>
    <div class="footer__section">
      <h2 class="footer__title">Customer Information</h2>
      <ul class="footer__links">
        <li><a href="#" class="footer__link">Contact Us</a></li>
        <li><a href="#" class="footer__link">Sale Exclusions</a></li>
        <li><a href="#" class="footer__link">Shipping & Returns</a></li>
        <li><a href="#" class="footer__link">Terms & Conditions</a></li>
        <li><a href="#" class="footer__link">Privacy Policy</a></li>
        <li><a href="#" class="footer__link">Search</a></li>
      </ul>
      <p class="copyright">
        Copyright © 2018 Dlk • Design Life Kids
      </p>
    </div>
    <div class="footer__section">
      <h2 class="footer__title">Connect</h2>
      <form class="footer__form">
        <input type="email" class="footer__input" name="email" placeholder="Email"/>@@include('button/index.html', {
          "text": "Join",
          "class": "button",
          "type": "type='submit'"
        })
      </form>
      @@include('social/index.html')
      <p>
        <a href="#" class="design-company">Web Design — Direct Line Development</a>
      </p>       
    </div>
  </div>
</footer>