@import "../../components/variables";
@import "../../components/mixins";

.category { 
  
  &__card {
    padding: 0;
  }

  &__title {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
    margin-bottom: 0;
    @include breakpoint(mobile){
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__text {
    max-width: 720px;
    width: 100%;
    padding: 0 20px 40px 20px;
    margin: 0 auto;

    p {
      margin: 20px 0;
    }
    
  }

}